[view=home] {
  position: relative;
  height: 100vh;
  overflow-x: hidden;

  .spotify, .instagram {
    max-width: 315px;
    margin: 15px auto;
    display: block;
    font-size: 1.8rem;
    font-family: "Raleway";
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    border: 2px solid rgba(0,0,0,0.5);
  }

  .spotify {
    margin-top: 0;
    background: rgb(29,185,84);
    background: -moz-linear-gradient(196deg, rgb(29, 185, 84) 47%, rgb(21, 144, 64) 100%);
    background: -webkit-linear-gradient(196deg, rgba(29,185,84,1) 47%, rgba(21,144,64,1) 100%);
    background: linear-gradient(196deg, rgb(29, 185, 84) 47%, rgb(21, 144, 64) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1db954",endColorstr="#159040",GradientType=1);
  }

  .instagram {
    margin-bottom: 5px;
    background: rgb(242,255,26);
    background: -moz-linear-gradient(11deg, rgba(242,255,26,1) 0%, rgba(255,38,0,1) 41%, rgba(85,0,255,1) 90%);
    background: -webkit-linear-gradient(11deg, rgba(242,255,26,1) 0%, rgba(255,38,0,1) 41%, rgba(85,0,255,1) 90%);
    background: linear-gradient(11deg, rgba(242,255,26,1) 0%, rgba(255,38,0,1) 41%, rgba(85,0,255,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2ff1a",endColorstr="#5500ff",GradientType=1);
  }
}
