[view="portfolio"] {
  .construction-notice {
    text-align: center;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #7d7d7d;
    letter-spacing: 2px;
    max-width: 900px;
    margin: 0 auto;
  }
}
