[view="resume"] {
  .resume-download-links {
    max-width: 900px;
    margin: 0 auto 90px auto;
    font-size: 14px;

    p {
      margin: 0;
    }

    a:not(.no) {
      text-decoration: underline;
    }
  }

  .router-back {
    margin-top: 0;
    margin-bottom: 0;
  }
}
