$mobile-max-width: 935px;

@media screen and (max-width: #{$mobile-max-width - 1px}){
  #app {
    .hide-mobile {
      display: none !important;
      user-select: none !important;
      pointer-events: none !important;
      visibility: hidden !important;
    }
  }
}

@media screen and (min-width: #{$mobile-max-width}){
  #app {
    .hide-desktop {
      display: none !important;
      user-select: none !important;
      pointer-events: none !important;
      visibility: hidden !important;
    }
  }
}