.title-container {
  position: relative;
  text-align: center;
  margin-top: 38vh;
  animation: float-up;
  animation-duration: 0.8s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;

  @keyframes float-up {
    0% {
      margin-top: 38vh;
    }
    100% {
      margin-top: 8vh;
    }
  }

  .title {
    position: relative;
    color: rgba(255,255,255,0.75);
    opacity: 0;
    animation: fade-in-title;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @keyframes fade-in-title {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    &, .title-backdrop {
      font-family: Audiowide, sans-serif;
      font-size: 130px;
    }

    .title-backdrop {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.25;

      $translation_interval: 1.25%;
      $translation_start: 2%;
      $translation_distance_25: $translation_start + $translation_interval;
      $translation_distance_50: $translation_start + $translation_interval*2;
      $translation_distance_75: $translation_start + $translation_interval;
      $translation_distance_100: 1%;
      $translation_distance_final: $translation_start;
      $translation_opacity: 0.05;
      animation-duration: 15s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-iteration-count: infinite;

      &.blue {
        color: rgba(0,0,255,1);
        transform: translate(-50% - $translation_start, -50% - $translation_start);
        animation-name: shimmer-blue;
      }

      &.red {
        color: rgba(255,0,0,1);
        transform: translate(-50% + $translation_start, -50% - $translation_start);
        animation-name: shimmer-red;
      }

      &.green {
        color: rgba(0,255,0,1);
        transform: translate(-50%, -50% + $translation_start);
        animation-name: shimmer-green;
      }

      @keyframes shimmer-blue {
        0% {
          transform: translate(-50% - $translation_start, -50% - $translation_start);
          opacity: 0.25;
        }
        20% {
          transform: translate(-50% - $translation_start, -50% - $translation_start);
        }
        30% {
          transform: translate(-50% - $translation_distance_50, -50% - $translation_distance_50);
          opacity: $translation_opacity;
        }
        80% {
          transform: translate(-50% - $translation_distance_50, -50% - $translation_distance_50);
        }
        88% {
          transform: translate(-50% - $translation_distance_100, -50% - $translation_distance_100);
          opacity: 0.25;
        }
        95% {
          transform: translate(-50% - $translation_distance_100, -50% - $translation_distance_100);
        }
        100% {
          transform: translate(-50% - $translation_distance_final, -50% - $translation_distance_final);
        }
      }

      @keyframes shimmer-red {
        0% {
          transform: translate(-50% + $translation_start, -50% - $translation_start);
          opacity: 0.25;
        }
        20% {
          transform: translate(-50% + $translation_start, -50% - $translation_start);
        }
        30% {
          transform: translate(-50% + $translation_distance_50, -50% - $translation_distance_50);
          opacity: $translation_opacity;
        }
        80% {
          transform: translate(-50% + $translation_distance_50, -50% - $translation_distance_50);
        }
        88% {
          transform: translate(-50% + $translation_distance_100, -50% - $translation_distance_100);
          opacity: 0.25;
        }
        95% {
          transform: translate(-50% + $translation_distance_100, -50% - $translation_distance_100);
        }
        100% {
          transform: translate(-50% + $translation_distance_final, -50% - $translation_distance_final);
        }
      }

      @keyframes shimmer-green {
        0% {
          transform: translate(-50%, -50% + $translation_start);
          opacity: 0.25;
        }
        20% {
          transform: translate(-50%, -50% + $translation_start);
        }
        30% {
          transform: translate(-50%, -50% + $translation_distance_50);
          opacity: $translation_opacity;
        }
        80% {
          transform: translate(-50%, -50% + $translation_distance_50);
        }
        88% {
          transform: translate(-50%, -50% + $translation_distance_100);
          opacity: 0.25;
        }
        95% {
          transform: translate(-50%, -50% + $translation_distance_100);
        }
        100% {
          transform: translate(-50%, -50% + $translation_distance_final);
        }
      }
    }
  }

  .subtitle {
    text-align: center;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: rgba(125, 125, 125);
    letter-spacing: 2px;
    opacity: 0;
    max-width: 900px;
    margin: 0 auto;

    animation: fade-in-subtitle;
    animation-duration: 0.85s;
    animation-delay: 0.25s;
    animation-timing-function:  linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @keyframes fade-in-subtitle {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 0.75;
      }
    }

    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      list-style-type: none;
      min-width: 125px;
      max-width: 300px;
      margin: 0 auto;
      border-radius: 4px;
      padding-left: 0;

      li {
        flex: 1;
        padding: 5px 7px;
        margin: 5px;
        border-radius: 4px;

        &:first-of-type {
          animation: fade-in-subtitle-li;
          animation-duration: 1s;
          animation-timing-function:  linear;
          animation-iteration-count: 1;

          @keyframes fade-in-subtitle-li {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }

        &:not(:first-of-type) {
          position: absolute;
          opacity: 0;
        }
      }
    }
  }
}