@font-face {
  font-family: 'Roboto';
  src: local("/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  src: local("/fonts/Roboto-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  src: local("/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  src: local("/fonts/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  src: local("/fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  src: local("/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  src: local("/fonts/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  src: local("/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  src: local("/fonts/Roboto-MedimItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  src: local("/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  src: local("/fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  src: local("/fonts/Roboto-ThinItalic.ttf") format("truetype");
}